@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@600&display=swap');

/* Default styles for all pages */

html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato, 'san-serif';
    color: #777777;
}

/* Logo styles for all pages */

#logo {
    font-family: Oswald, 'san-serif';
    text-transform: uppercase;
    letter-spacing: 4px;
    color: forestgreen;
}

/* Navbar styles for all pages */

.menu {
    letter-spacing: 4px;
}

.active {
    border-bottom: 1px solid #777777;
}

/* Hero Image styles*/

#hero-image-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    position: relative;
    background-image: url('https://aviturga.es/wp-content/uploads/2022/09/mirador-de-vilouxe.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#ribeira-sacra-logo {
    height: 95px;
    width: 250px;
    top: 400px;
    left: 80px;
    background-image: url("https://turismo.ribeirasacra.org/mediaCache/img/ribeirasacra.png");
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid forestgreen;
    position: absolute;
}

/* Animation styles for the hero image*/

@keyframes hero-zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
}

/* Overview styles section*/

#rs-overview-container {
    height: 600px;
}

#welcome {
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

#left-side {
    width: 33%;
    padding-top: 30px;
    float: left;
}

#right-side {
    width: 33%;
    padding-top: 30px;
    float: right;
}

#page-center {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
}

.left-side-header {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-side-header {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
  }
  
.right-about-heading p {
    text-align: right;
}

#images-container {
    height: 600px;
    width: 400px;
    padding: 10px;
    border-style: solid;
    border-color: forestgreen;
    border-width: 1px;
    margin: 0 auto; 
    border-radius: 10px;
}

#top-image {
    height: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#bottom-image {
    height: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Quotes from public section styles*/

#quotes-container {
    height: 450px;
    width: 33%;
    margin: 0 auto;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.quotes {
    align-items: center;
    line-height: 20px;
    clear: both;
}

/*Activities page*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Title*/

#welcome-hiking {
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

/*Information and disclaimer*/

#info-container {
    height: 500px;
}

#info-left-side {
    width: 33%;
    padding-top: 30px;
    float: left;
}

.info-left-side-header {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 20px;
}

#info-right-side {
    width: 33%;
    padding-top: 30px;
    float: right;
}

.info-right-side-header {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 20px;
}

.info-left-side-header h2 { 
    text-align: center;
}

.info-right-side-header h2 {
    text-align: center
}
    
#info-center {
    width: 33%;
    margin: 0 auto;
}

#info-image-container {
    height: 400px;
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid forestgreen;
    border-radius: 50%;
}

#info-image {
    background-image: url("../img/activities/miradoiro-de-matacas.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

/*Hiking section headers*/

.hiking-headers {
    margin: 20px 0;
    text-align: center;
}

/*Grid-container - taken from Mike McGrath's book "HTML, CSS & Javascript, pages 292/293*/

.flex-container {
    height: 900px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.flex-container div {
    height: 300px;
    width: 300px;
    padding: 10px 10px;
    text-align: left;
    border: 1px solid forestgreen;
    border-radius: 5%;
}

h3 {
    text-align: center;
}

/*Image containers*/

#image-container1 {
    background-image: url("../img/activities/mino-route.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

#image-container2 {
    background-image: url("../img/activities/ruta-dos-bosques-maxicos.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

#image-container3 {
    background-image: url("../img/activities/belesar-vineyard-route.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

#image-container4 {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

/* Footer styles for all pages */ 

footer {
    height: 200px;
    background-color: lightgreen;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;
}

/* Media queries for index page */

@media screen and (max-width: 1024px) {
    /*Re-using the rs-overview-container div id*/
    #rs-overview-container {
        /*Create a more narrower, vertical design for tablet viewing*/
        width: 65%;

        /*To accommodate the vertical layout*/
        height: 1200px;

        /*To center our content*/
        margin: 0 auto;
    }

    /*The contents of the rs-overview section*/
    #welcome {
        /*Change the padding to keep the balance between the welcome message and the main image above*/
        padding: 30px 0;

        /*Set the margin to 0 to additionally clean up the vertical gap*/
        margin-top: 0;
    }

    #left-side, #right-side {
        /*Set the width of each to 100% of the parent container and float the content to the left*/
        width: 100%;
        float: left;

        /*Override any default desktop-level padding by setting it to 0*/
        padding: 0;
    }

    /*Push the page-center images below all text content*/
    #page-center {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }    

    /*Push the quotes-container below the center-page images*/
    #quotes-container {
        clear: both;
        width: 100%;
        padding: 0 auto;
    }

    /*Hide the horizontal rule under each of the content headers in the rs-overview-container at the tablet breakpoint*/
    hr {
        display: none;
    }
}

@media screen and (max-width: 943px) {
    #rs-overview-container {
        /*We set the width to 90% for mobile devices*/
        width: 90%;
        height: 1200px;

        /*Allows for 5% spacing on the left and right margins of the screen*/
        margin: 0 auto;
    }

    .left-side-header, .right-side-header {
        /*The width of these headings will be inherited from the parent section*/
        width: inherit;
    }

    .left-side-header h2, .right-side-header h2 {
        /*We will center-align both the main text and the headings*/
        width: 100%;
        text-align: center;
    }

    .left-side-header p, .right-side-header p {
        /*We will use text-align to center the paragraph content*/
        text-align: center;
        padding: 0 20px 0 20px;
    }
}

/* Media queries for activities page info section only*/

@media screen and (max-width: 1024px) {
    /*Re-using the info-container div id*/
    #info-container {
        /*Create a more narrower, vertical design for tablet viewing*/
        width: 65%;

        /*To accommodate the vertical layout*/
        height: 1200px;

        /*To center our content*/
        margin: 0 auto;
    }

    #info-left-side, #info-right-side {
        /*We set the width of each to 100% of the parent section and float the content to the left*/
        width: 100%;
        float: left;

        /*We override any default desktop-level padding by setting it to 0*/
        padding: 0;
    } 

    /*Push the info-center image below all text content*/
    #info-center {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    /*Hide the horizontal rule under the content headers at tablet breakpoint*/
    hr {
        display: none;
      }
        
}

@media screen and (max-width: 943px) {
    #info-container {
        /*Set the width to 90% for mobile devices*/
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .info-left-side-header, .info-right-side-header {
        /*Heading widths inherited from parent section*/
        width: inherit;
    }

    .info-left-side-header h2, .info-right-side-header h2 {
        /*Center-align both the main text and the headings*/
        width: 100%;
        text-align: center;
    }

    .info-left-side-header p, .info-right-side-header p {
        /*Center-align our paragraph content*/
        text-align: center;
        padding: 0 20px 0 20px;
    }
    
}