@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@600&display=swap');

html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato;
    color: #777777;
}

#logo {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: green;
}

.menu {
    letter-spacing: 4px;
}

.active {
    border-bottom: 1px solid #777777;
  }






